/* ------CSS RESET------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
img {
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
hr {
  height: 0.1px;
  background-color: rgb(185, 185, 185);
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

/* ------UTILITIES------ */
.container {
  display: flex;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.btn {
  padding: 15px 20px;
  border-radius: 9em;
  border: none;
}
.blueBtn {
  color: white;
  background-color: rgb(52, 98, 215);
}
.upper {
  text-transform: uppercase;
}
.whiteText {
  color: white;
}
.greyBg {
  background-color: rgb(241, 241, 241);
}
.whiteBg {
  background-color: white;
}
.blackText {
  color: black;
}
.greyText {
  color: rgb(123, 123, 123);
}
.capitalize {
  text-transform: capitalize;
}

p {
  margin-top: 5px;
}
.justify-content-spacebetween {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.mr-20 {
  margin: 0 15%;
}

/* ------SECTIONS------ */
/* Navbar */
.nav {
  justify-content: space-between;
  margin: 0 5vw;
  height: 18%;
}
.nav .logo {
  width: 80px;
  height: 100px;
  margin: 30px 20px;
}
.navLinks {
  width: 65%;
  justify-content: space-between;
}
.navLinks a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}

/* Hero */
.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/herobg.jpg");
  height: 100vh;
}
.hero {
  justify-content: center;
  height: 82%;
  line-height: 3.2em;
  letter-spacing: 4px;
}
.heroCont {
  width: 60vw;
  font-size: 2.8rem;
  font-weight: bolder;
  text-align: center;
}

/* Foundations */
.fds {
  min-height: 100vh;
  justify-content: center;
  margin-bottom: 0;
}
.fds > p {
  margin: 40px 0;
  font-size: 2rem;
  text-align: center;
}
.fds > .cards {
  min-height: 60vh;
  margin: 0 20px;
  align-items: flex-start;
  justify-content: space-between;
}
.fdcard {
  height: 90%;
  width: 18%;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: white;
}
.fdcard > img {
  margin: 15px 0;
  width: 7vw;
  height: 10vh;
}
.fdcard > p {
  margin: 20px 0;
  font-size: 17px;
  text-align: center;
}

/* Vision */
.vision {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/parallax-4.jpg");
  background-position: cover;
  justify-content: space-evenly;
  height: 80vh;
}
.vision > iframe {
  border-radius: 10px;
  width: 700px;
  height: 400px;
}

/* Join */
.join {
  min-height: 100vh;
}
.join > .title {
  margin: 30px 0;
  text-align: center;
}
.joinCont {
  justify-content: space-between;
  margin-right: 10px;
}
.joinCont > img {
  width: 32%;
  height: 500px;
}
.joinCont > .card {
  border: 1px solid rgb(203, 203, 203);
  border-radius: 5px;
  height: 80vh;
  width: 15vw;
  background: url("../images/bg-icon.png");
  background-size: cover;
}
.cardList {
  width: 50%;
}
.card > .title {
  width: 10vw;
  margin-top: 30px;
  font-size: 20px;
}
.cardList ul > li {
  margin: 20% 0;
  list-style: url("../images/bullet5.png");
}
.card > .btn {
  margin-bottom: 30px;
}
.joinfooter {
  margin: 20px 10px;
  text-align: end;
}
.joinfooter > img {
  margin-top: 10px;
  height: 50px;
  width: 150px;
}

/* Stats */
.stats {
  background-image: url("../images/parallax-light.jpg");
  background-size: cover;
  min-height: 500px;
  justify-content: center;
  text-align: center;
}
.statsCont {
  height: 60%;
  justify-content: center;
}
.stat > img {
  width: 90px;
  height: 30%;
}
.statsCont > .stat {
  width: 60%;
  height: 100%;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
}
.stat > .statnb {
  margin-top: 20px;
  height: 5vh;
  font-size: 2rem;
}
.stat:nth-child(1) > .statnb {
  color: rgb(4, 156, 4);
}
.stat:nth-child(2) > .statnb {
  color: rgb(200, 10, 124);
}
.stat:nth-child(3) > .statnb {
  color: rgb(36, 36, 211);
}
.stat:nth-child(4) > .statnb {
  color: rgb(19, 139, 19);
}

/* Trending */
.trending {
  justify-content: space-evenly;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url("../images/bg-icon-empty.png");
  background-size: cover;
  height: 650px;
}
.tcard {
  height: 450px;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
  border-radius: 5px;
  width: 23%;
}
.tcard > img {
  width: 100%;
  height: 60%;
}
.tcard > .title {
  margin: 10px 0;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 5px 20px;
}
.tcard > .tfooter {
  height: 50px;
  width: 50%;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Programs */
.prgs {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/parallax-7.jpg");
  height: 400px;
}
.prg > img,
.acd img {
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 10px;
}
.sec1 {
  text-align: start;
  justify-content: center;
  height: 80%;
  font-size: 20px;
}
.sec1 > .acd {
  width: 30%;
  text-align: start;
  margin-right: 20px;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
.allprgs {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: flex-end;
}
.allprgs > .prg {
  width: 30%;
  margin-left: 5px;
  text-align: center;
}

/* Community Messages */
.comm {
  height: 350px;
  justify-content: center;
  background: url("../images/bg-icon-reverse.png");
  background-size: cover;
}
.comm > .title {
  height: 60%;
  width: 25%;
  margin-right: 20px;
}
.comm > .msg {
  height: 60%;
  width: 25%;
  border-radius: 5px;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(234, 234, 234);
  border-width: 0.01cm;
  background: none;
}
.msg > p {
  margin-top: 15px;
}

/* Footer */
.footer {
  min-height: 60vh;
  background-color: rgb(53, 53, 53);
}
.footer > .content {
  justify-content: center;
  height: 80%;
}
.footer .card {
  flex-direction: column;
  width: 20%;
  height: 80%;
  align-items: flex-start;
  color: white;
}
.footer .card > .title1 {
  margin-bottom: 25px;
  color: rgb(185, 185, 185);
}
.footer .card > .title2 {
  margin-bottom: 10px;
}
.footer .fcardLinks:not(:last-child) {
  margin-left: 20px;
}
.footer .fcardLinks > li {
  margin-bottom: 20px;
}
.footer .fimg {
  width: 120px;
}
.footer .email > input {
  width: 60%;
  border: none;
  background-color: inherit;
}
.footer .content .card:nth-last-child(2) {
  width: 15%;
}
.email {
  width: 100%;
}
.fEnd {
  margin-top: 0;
  height: 20%;
  font-size: 15px;
}
.footer .smIcons {
  width: 200px;
  justify-content: space-around;
}
.footer .smIcons > li {
  list-style: disc;
}
.smIcons svg {
  color: white;
}


/* ----MEDIA QUERIES----- */
@media only screen and (max-width: 1000px) {
  /* Foundation Section */
  .navLinks {
    display: none;
  }
  .fds > .cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 10px;
  }
  .cards > .fdcard {
    width: 30%;
    height: 40%;
  }

  /* Vision Section */
  .vision > iframe {
    width: 80%;
  }

  /* Join BDD */
  .join {
    align-items: center;
  }
  .joinCont {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  .joinCont > img {
    display: none;
  }
  .joinCont > .card {
    width: 40%;
    padding-bottom: 10px;
  }
  .joinfooter {
    text-align: center;
    font-size: 2rem;
  }
  .joinfooter > img {
    height: 100px;
    width: 250px;
  }

  /* Stats */
  .statsCont {
    flex-wrap: wrap;
  }
  .statsCont > .stat {
    width: 40%;
  }

  /* Trending */
  .trending .tcard {
    display: none;
  }
  .trending .trends {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .trending .tcard:nth-child(2) {
    display: inline;
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  /* Programs */
  .prgs {
    height: 80vh;
  }
  .prgs .sec1 {
    flex-direction: column;
  }
  .sec1 > .acd {
    width: 80%;
  }
  .allprgs {
    width: 80%;
  }

  /* community */
  .comm{
    justify-content: space-around;
  }
  .comm .msg{
    width:40%;
  }
  .testi1{
    display: none;
  }

  /* footer */
  .footer .content{
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
  }
  .footer .content .card{
    margin: 30px 0;
    width:50%;
    align-items: center;
  }
}
/* End Of Media Queries */
