/* ------CSS RESET------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
}


/* ------UTILITIES------ */
.container{
    display: flex;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.btn{
    padding: 10px 8px;
    border-radius: 9em;
}
.blueBtn{
    color: white;
    background-color: rgb(52, 98, 215);
}
.upper{
    text-transform: uppercase;
}
.whiteText{
    color: white;
}
.greyBg{
    background-color: rgb(241, 241, 241);
}
.blackText{
    color: black;
}
.greyText{
    color:rgb(98, 98, 98);
}
li{
    list-style: none;
}

/* ------SECTIONS------ */
/* Navbar */
.nav{
    justify-content: space-between;
    margin: 0 5vw;
    height:15%;
}
.nav .logo{
    width: 60px;
    height:100px;
    margin: 20px 50px;
}
.navLinks{
    width:60%;
    justify-content: space-between;
}
.navLinks a{
    text-decoration: none;
}
.bold{
    font-weight: bold;
}

/* Hero */
.main{
    background-image: url('../images/herobg.jpg');
    height:100vh;
}
.hero{
    justify-content: center;
    height:85%;
}
.heroCont{
    width:90vw;
    font-size: 38px;
    text-align: center;
}

/* Foundations */
.fds{
    height: 100%;
    justify-content: center;
    margin-bottom: 0;
}
.fds > p{
    margin: 40px 0;
    font-size: 2rem;
}
.fds > .cards{
    height:60vh;
    margin: 0 20px;
    align-items: flex-start;
    justify-content: space-between;
}
.fdcard{
    height:90%;
    width:18%;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: white;
}
.fdcard > img{
    margin: 15px 0;
    width:8vw;
    height:12vh;
}
.fdcard > p{
    margin: 20px 0;
    font-size: 17px;
    text-align: center;
}

/* Vision */
.vision{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/parallax-4.jpg');
    background-position: cover;
    justify-content: space-evenly;
    height: 80vh;
}
.vision > video{
    border-radius: 10px;
}

/* Join */
.join{
    height:100vh;
}
.join > .title{
    margin: 30px 0;
    text-align: center;
}
.joinCont{
    justify-content: space-between;
    margin-right: 10px;
}
.joinCont > img{
    width:32%;
    height: 500px;
}
.joinCont > .card{
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
    height: 550px;
    width: 15vw;
}
.cardList{
    width:50%;
}
.card > .title{
    width: 10vw;
    margin-top: 30px;
    font-size: 20px;
}
.cardList ul > li{
    margin: 20% 0;
}
.card > .btn{
    margin-bottom: 30px;
}
.joinfooter{
    margin: 20px 10px;
    text-align: end;
}
.joinfooter > img{
    margin-top: 10px;
    height: 50px;
    width: 150px;
}

/* Stats */
.stats{
    background-image: url('../images/parallax-light.jpg');
    background-size: cover;
    height: 500px;
    justify-content: center;
}
.statsCont{
    height:300px;
    justify-content: center;
}
.stat > img{
    width:90px;
    height:80px;
}
.statsCont > .stat{
    width:20%;
    height:60%;
    justify-content: space-around;
    text-align: center;
    margin: 0 10px;
}

